beautifulsoup4==4.7.1
cairocffi==1.0.2
CairoSVG==2.4.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.6.0
Django==2.2.1
html5lib==1.0.1
idna==2.8
Pillow==6.0.0
pycparser==2.19
Pyphen==0.9.5
pytz==2019.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.1
tinycss2==1.0.2
urllib3==1.25.8
WeasyPrint==47
webencodings==0.5.1
wikipedia==1.4.0
Wikipedia-API==0.5.1
