{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WikiPedia Article downloader">
    <meta name="author" content="Akhilesh">
    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/social-network-round-gloss-shine/512/Wikipedia_Social-Network-Communicate-Page-Curl-Effect-Circle-Glossy-Shadow-Shine.png">

    <title>Wikipedia Article downloader</title>
  </head>
  <body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Header -->
      <header class="blog-header bg-dark py-3">
          <div class="col-12 text-center">
            <a class="blog-header-logo text-white font-weight-bold" href="{{ request.scheme }}://{{ request.get_host }}{% url 'wikiapp:home' %}">Wikipedia Article downloader</a>
          </div>
      </header>

    

    

    <!-- Main Content -->
    <main role="main" class="container">
      {% block content %}
      {% endblock %}
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>